body {
	background-image: url("../images/halftone.png");
}

.centered {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	text-align: center;
}

#contact_me {

}

.center-wrapper {
	clear: none;
}

.content-wrapper-bordered {
	border-top: 3px solid #A4A4A0;
}

.cover {
	clear: both;
	margin: auto;
	font-size: 3em;
	font-family: monospace;
}

#footer {
	font-size: 0.7em;
	float: bottom;
	background-color: #7AA3CC;
	clear: both;
	box-shadow: 1px 1px 2px #888888;
}

hr {
	/* taken from online */
	margin: 25px 0;
    height: 1px;
    background: black;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(#F4F2E9), to(#F4F2E9), color-stop(50%, black));
}
#left-banner {
	float: left;
	width: 160px;
	height: 2000px;
	/*margin-top: 0px; set by custom jquery*/
	margin-left: 0;
	background-color: #FFFFDB;
	position: relative;
	box-shadow: 2px 2px 5px #888888;
}

#linkedin-logo {

}

.navbutton-custom {
	background-color: #49627A;
	border-radius: 5px;
	border-width: 2px;
	box-shadow: 3px 3px 4px #888888;
	padding-left: 30px;
	padding-right: 30px;
}

#right-banner {
	float: right;
	width: 160px;
	height: 2000px;
	/*margin-top: -500px; set by custom jquery*/
	margin-left: auto;
	margin-right: 0;
	background-color: #FFFFDB;
	position: relative;
	box-shadow: -2px 2px 5px #888888;
}

.side-navbar {
	margin-top: 250px;
	margin-left: 25px;
	position: fixed;
}

.site-wrapper {
	border-width: 3px;
}

#twitter-logo {

}